# Default ignored files
/../../../W.U.M.P Final Project./WUMP_FINAL_PROJECT/.idea/shelf/
/../../../W.U.M.P Final Project./WUMP_FINAL_PROJECT/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../W.U.M.P Final Project./WUMP_FINAL_PROJECT/.idea/httpRequests/
# Datasource local storage ignored files
/../../../W.U.M.P Final Project./WUMP_FINAL_PROJECT/.idea/dataSources/
/../../../W.U.M.P Final Project./WUMP_FINAL_PROJECT/.idea/dataSources.local.xml
